#### Import necessary libraries

#### geocoders is a module within geopy, so we have to explicitly import the Nominatim class via geopy.geocoders

In [58]:
import pandas as pd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from geopy import distance

#### Read CSV file containing the 5 tallest buildings in the US

In [59]:
df = pd.read_csv('tallest_buildings.csv')

In [60]:
geocoder = RateLimiter(Nominatim(user_agent='tutorial').geocode, min_delay_seconds=1)
df['full_address'] = df['address'].apply(geocoder)

#### Print full address of tallest building

In [61]:
df.loc[0, 'full_address']

Location(285, Fulton Street, Financial District, Manhattan Community Board 1, New York County, New York, 10007, United States, (40.7130054, -74.0131898, 0.0))

#### Assign World Trade Center's address to a variable, then assign it's coordinates to a variable

In [62]:
one_world_trade_cntr = df.loc[0, 'full_address']
one_world_trade_cntr_coordinates = (one_world_trade_cntr.latitude, one_world_trade_cntr.longitude)

#### Do the same for Willis Tower

In [63]:
willis_tower = df.loc[2, 'full_address']
willis_tower_coordinates = (willis_tower.latitude, willis_tower.longitude)

#### Calculate distance between OWTC and Willis Tower

In [64]:
distance.distance(one_world_trade_cntr_coordinates, willis_tower_coordinates).miles

712.7747974470165

#### Create columns for latitude and longitude

In [68]:
df['latitude'] = df['full_address'].apply(geocoder).apply(lambda x: (x.latitude))
df['longitude'] = df['full_address'].apply(geocoder).apply(lambda x: (x.longitude))
df

,Unnamed: 0,name,address,height,full_address,latitude,longitude
0,0,One World Trade Center,"285 Fulton Street, Manhattan, New York 10007, ...",1776,"(285, Fulton Street, Financial District, Manha...",40.713005,-74.013190
1,1,Central Park Tower,"217 W 57th St, NY",1550,"(217, West 57th Street, Midtown, Manhattan Com...",40.765957,-73.980844
2,2,Willis Tower,"233 S Wacker Dr, 60606",1451,"(Willis Tower, 233, South Wacker Drive, Printe...",41.878872,-87.635908
3,3,111 West 57th Street,"111 West 57th St, Manhattan",1428,"(111 West 57th Street, West 57th Street, Midto...",40.764760,-73.977581
4,4,One Vanderbilt,40.7530째N 73.9785째W,1401,"(One Vanderbilt, 1, Vanderbilt Avenue, Manhatt...",40.752971,-73.978541

#### Find distance from all buildings to Atlanta

In [71]:
atlanta = (33.7492,  -84.3881)
df['distance_to_atl'] = df.apply(lambda x: distance.distance((x.latitude, x. longitude), atlanta).miles, axis=1)
df

,Unnamed: 0,name,address,height,full_address,latitude,longitude,distance_to_atl
0,0,One World Trade Center,"285 Fulton Street, Manhattan, New York 10007, ...",1776,"(285, Fulton Street, Financial District, Manha...",40.713005,-74.013190,745.973449
1,1,Central Park Tower,"217 W 57th St, NY",1550,"(217, West 57th Street, Midtown, Manhattan Com...",40.765957,-73.980844,749.522485
2,2,Willis Tower,"233 S Wacker Dr, 60606",1451,"(Willis Tower, 233, South Wacker Drive, Printe...",41.878872,-87.635908,588.044760
3,3,111 West 57th Street,"111 West 57th St, Manhattan",1428,"(111 West 57th Street, West 57th Street, Midto...",40.764760,-73.977581,749.609843
4,4,One Vanderbilt,40.7530째N 73.9785째W,1401,"(One Vanderbilt, 1, Vanderbilt Avenue, Manhatt...",40.752971,-73.978541,749.081646